
.dev-room {
    height: 100vh;
    padding: 10px;
}

.frame {
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    border-radius: 5px;
    height: 100%;
    cursor: default;
}

.frame-header {
    display: flex;
    justify-content: space-between;
    background-image:linear-gradient(gray, lightgrey);
    padding: 3px;
    width: 100%;
}
 
.frame-header .token {
    background: #222222;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 0px 5px;
    padding: 2px 5px;
}

.frame-body {
    flex:  1;
    display:  flex;
    width: 100%;
}

.frame-contexts {
    flex: 20%;
    border: 2px solid gray;
    padding: 10px;
}

.frame-contents {
    flex:  80%;
    border: 2px solid gray;
    padding: 10px;
    line-height: 20px;
}

.context {
    text-align: center;
    margin: 10px;
    color:  white;
}

.lozenge {
    border: 2px solid;
    border-radius: 15px;
    padding: 4px 10px;
}

.interface {
    border-style: solid;
    border-width: 2px 2px 0px 2px;
    border-radius: 15px 15px 0px 0px;
    padding: 3px 5px;
    color: cyan;
}

.interface .declaration {
    padding:  0px 5px;
}

.implementation {
    border: 2px solid;
    border-color: cyan;
    border-radius: 0px 15px 15px 15px;
    padding: 5px 5px 5px 0px;
}

.implementation .declaration > .domain {
    display:  none;
}

.implementation .declaration:hover > .domain {
    display:  inline-block;
}

.domain {
    padding: 0px 10px;
    color: gray;
    background-color: lightgrey;
    line-height: 18px;
    border: 1px solid gray;
    border-radius: 5px;
}

.output > .domain {
    background-color: inherit;
}

.procedure-code, .branch, .loop-code {
    display: flex;
    position: relative;
    padding: 5px 5px 5px 0px;
    border-color: dimgrey;
}

.branch .label {
    position: absolute;
    z-index: 1;
    font-size: 12px;
    line-height: 12px;
    left: 5px;
    top: 0px;
    background-color: #222222;
}

.branch:focus .label {
    background-color: inherit;
}

.indent {
    flex: 0 0 50px;
    border-top: 1px solid;
    border-color: inherit;
    padding: 5px;
}

.code-block {
    flex: 1;
    padding: 5px 5px 5px 0px;
    border: 1px solid;
    border-color: inherit;
    border-radius: 0px 5px 5px 5px;
}

.code-line {
    border: 1px solid transparent;
    border-radius: 0px 5px 5px 0px;
}

.code-field {
    border: 1px solid transparent;
    border-radius: 5px;
}

.selectable:hover {
    border-color: #AAAAAA;
}

.selectable:focus {
    border-color: white;
    background: #444444;
}

/* To illustrate evaluation order using pseudo-brackets */
.expression .expression {
    border-left: 1px solid dimgray;
    border-right: 1px solid dimgray;
    border-radius: 5px;
}

.token, .literal, .separator, .arrow, .operation {
    padding: 0px 5px;
    text-align: center;
}

span {
    display: inline-block;
}

input {
    margin: 0px 2px;
    padding: 0px 0px 0px 2px;
    font: 16px arial, sans-serif;
    background-color: lightgrey;
    text-align: left;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}

.literal {
    color: lime;
}

.literal.falsy {
    color: red;
}

.operation, .expression > .token {
    color: cyan;
}

.selection > .token, .loop-condition > .token, .arrow {
    color: violet;
}
